html{
    font-size: 62.5%;
}
body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
}
h1{
    color: #25a2c3;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: larger;
    line-height: 1.50;
}
header{
    background-color: black;
    text-align: center;
    padding: 30px;
}
nav{
    background-image: url("../images/banner.jpg");
    background-size: contain;
    text-align: center;
    font-size: 2em;
    padding: 30px;
}
button{
    background-color: #f04c2f ;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 0,7em;
    font-weight: bold;
    border: 0px;
    width: 125px;
    height: 40px;
    border-radius: 5px;

}
main{
    text-align: center;
    font-size: 2rem;
}
h4{
    color: #25a2c3; 
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: larger;
}
#notebook{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
}
.testimonianza{
    background-color: #e22d0e;
    color: white;
    padding: 40px;
}
h2{
    color: white;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: larger;
}
footer{
    background-color: #c8e7f0;
    text-align: center;
    color: white;
    padding: 50px;
}
a{
    color: white;
}
div img{
    width: 425px;
    height: 250px;
}


